<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiBAST">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".KehadiranActivity"
            android:exported="false" />

        <activity
            android:name=".RiwayatKehadiranActivity"
            android:exported="false" />

        <activity
            android:name=".DetailKehadiranActivity"
            android:exported="false" />

        <activity
            android:name=".DetailKehadiranIzinActivity"
            android:exported="false" />

        <activity
            android:name=".DetailKehadiranAlpaActivity"
            android:exported="false" />

        <activity
            android:name=".DetailKehadiranLiburActivity"
            android:exported="false" />

        <activity
            android:name=".ApprovalIzinActivity"
            android:exported="false" />

        <activity
            android:name=".DetailPengajuanIzinActivity"
            android:exported="false" />

        <activity
            android:name=".DetailPengajuanActivity"
            android:exported="false" />

        <activity
            android:name=".DetailPengajuanDitolakActivity"
            android:exported="false" />

        <activity
            android:name=".CameraAbsenActivity"
            android:exported="false"
            android:theme="@style/Theme.AplikasiBAST.NoActionBar" />

        <activity
            android:name=".LocationAbsenActivity"
            android:exported="false" />

        <activity
            android:name=".PreviewFotoAbsenActivity"
            android:exported="false"
            android:theme="@style/Theme.AplikasiBAST.NoActionBar" />

        <activity
            android:name=".SuccessAbsenActivity"
            android:exported="false"
            android:theme="@style/Theme.App.Transparent" />

        <activity
            android:name=".ApprovalIzinSelesaiActivity"
            android:exported="false" />

        <activity
            android:name=".ApprovalIzinDitolakActivity"
            android:exported="false" />

        <activity
            android:name=".PengajuanIzinActivity"
            android:exported="false" />

        <activity
            android:name=".RiwayatPengajuanIzinActivity"
            android:exported="false" />

        <activity
            android:name=".DaftarPengajuanIzinActivity"
            android:exported="false" />

    </application>

</manifest>
